@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,400;0,600;0,700;0,800;0,900;1,100;1,400;1,600;1,700;1,800;1,900&display=swap');



.navbar{
    background: black;
    color: aliceblue;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 80%;
    margin: 2px 60px;
}
.img img{ 
    height: 40px;
    border-radius: 80%;
    margin: 1px 20px;
}



